@mixin slides-titles{
    position: absolute;
    color: white;
    font-family: Montserrat;
}

// HOMEPAGE HEADER
.slideshow-container{
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
    .mySlides{
        display:none;
    }
    .slide-bg-img1{
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(28,28,28,1) 100%), url("../images/images/gallery/slide-4.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .slide-bg-img2{
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(28,28,28,1) 100%), url("../images/images/gallery/gallery/slide-1.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .slide-bg-img3{
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(28,28,28,1) 100%), url("/resources/images/images/gallery/slide-2-557x400.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .slide-bg-img4{
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(28,28,28,1) 100%), url("../images/images/gallery/room-7-360x222.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    h1{
        @include slides-titles();
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    h2{
        @include slides-titles();
        top : 50%;
        left : 50%;
        margin-top: 70px;
        transform: translate(-50%, -50%);
    }
}
// ROOMS SECTION

.features_rooms-container{
    position: relative;
    background-color: $darkest-background;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    &::after {
        content: '';
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 37px;
        height: 5px;
        background-color: rgb(51,51,51);
        border-radius: 30px;
    }
    .features_rooms-title{
        font-size: 25px;
        font-weight: 700;
        margin-top: 55px;
        margin-bottom: 200px;
    }
    .features_rooms-article{
        background-color: $dark-background;
        margin-bottom: 60px;
        box-shadow: 1px 9px 15px 0px rgba(0,0,0,0.51);
        .features_rooms-description{
            background-color: $dark-background;
            .features_rooms-difficulty{
                display: flex;
                flex-direction: row;
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: $nav-font-color;
                li{
                    font-size: 10px;
                    margin:3px 3px 3px 3px;
                }
                li .active{
                    color: red;
                }
            }
            .features_rooms-texts{
                text-align: justify;
                padding-left: 30px;
                padding-right: 30px ;
                h3{
                    font-weight: 700;
                    line-height: 30px;
                }
                .features_rooms-characteristics{
                display: flex;
                flex-direction: row;
                line-height: 30px;
                    li{
                        font-size: 8px;
                        margin-right: 10px;
                        color: $nav-font-color;
                        i{
                            margin-right: 10px;
                            font-size: 10px;
                            color: $white-background
                        }
                    }
                }
                p{
                    color: $nav-font-color;
                    font-size: 12px;
                }
                button{
                    color: $white-background;
                    background-color: $red;
                    height: 35px;
                    width: 120px;
                    font-size: 12px;
                    font-weight: 500;
                    border-style: unset;
                    border-radius: 20px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

            }

        }
    }

    .btn {
        font-size: 15px;
        font-weight: 700;
        display: block;
        width: 150px;
        text-align: center;
        margin: 0 auto;
        padding: 22px 35px;
        border-radius: 40px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        text-decoration: none;
        color: white;
        transition: 0.1s linear;
        margin-top: -80px;
        margin-bottom: 140px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2); 
        }

    }
    
}


// SECTION HOW IT WORK

.Howitworks_container{
    background-color: $dark-background;
    position: relative;
    width: auto;
    height: 700px;
    font-family: Montserrat;
    justify-content: center;
    align-content: center;
    &::after {
        content: '';
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 37px;
        height: 5px;
        background-color: rgb(51,51,51);
        border-radius: 30px;
    }
    ul{
        display: flex;   
        flex-direction: row;
        padding-top: 55px;
        padding-bottom: 55px;
        li{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: $white-background;
            margin: 10px 50px 10px 50px;
            i{
                font-size: 35px;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width : 40px;
                    border-radius: 100%;
                    border-width: solid white;
                    height: 40px;
                }
            }

            h3{
                margin: 20px 0px 20px 0px;
            }
            p{
                color:$nav-font-color;
            }
        }
}
    h2{
        color: white;
        text-align: center;
        font-weight: 700;
        padding-top: 60px;
        font-size: 25px;
    }
    
    
}

// SECTION : TESTIMONIALS
.testimonials_container{
    background-color: $white-background ;
    font-family: 'Montserrat', sans-serif;

    h1 {
        text-align: center;
        color: #3c3c3c;
        font-size: 30px;
        font-weight: 700;
        padding-top: 180px;
        margin-bottom: 40px;
        }
    }
    

    .gallery {
        background-color: $darkest-background ;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 150px;

    h1 {
        text-align: center;
        color: white;
        font-size: 47px;
        font-weight: 700;
        padding-top: 180px;
        margin-bottom: 50px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 130px;
            left: 50%;
            transform: translateX(-50%);
            width: 37px;
            height: 5px;
            background-color: #9b9b9b;
            border-radius: 20px;

            
        }
    }
    .caroussel {
        display: flex;
        justify-content: center;
        align-items: center;

        .caroussel__card {
            width: 450px;
            text-align: center;
            margin: 120px 70px 40px;

            p {
                font-weight: 500;
                font-size: 16px;
                color: #797979;
                line-height: 2;
                opacity: 90%;
                margin-bottom: 50px;
            }

            .customer--name {
                margin-top: 15px;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 2px;
            }
        }
    }
    .arrow {
        color: $dark-background;
        display: flex;
        justify-content: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 15px;
            left: 50%;
            transform: translateX(-50%) rotate(-60deg);
            height: 2px;
            width: 120px;
            opacity: 20%;
            background-color: #3c3c3c;
        }

        i {
            font-size: 30px;
            margin: 0 60px 180px;
            transition: 0.1s linear;
            cursor: pointer;

            &:hover {
                color: rgb(171,25,27);
            }
        }
    }
}

//SECTION : BLOG POSTS
.blogposts_container {
    background-color: $darkest-background ;
    font-family: 'Montserrat', sans-serif;

    .container-h2 {
        text-align: center;
        color: white;
        font-size: 30px;
        font-weight: 700;
        padding-top: 180px;
        margin-bottom: 40px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 130px;
            left: 50%;
            transform: translateX(-50%);
            width: 37px;
            height: 5px;
            background-color: rgb(51,51,51);
            border-radius: 20px;    
        }
    }
    h3 {
        font-weight: 600;
        color: rgb(171,25,27);
        text-align: center;
        font-size: 14px;
        a{
            text-decoration: underline; 
            color: inherit;
        }
    }
    .blog__articles{
    display: flex;
    flex-direction: row;
    height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    .articles__container {
        color: white;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        .articles__thumbnail{
            position: relative;
            height: 300px;
            margin-top: 20px;
            background-size: cover;
            background-image: linear-gradient(0deg, rgba(27,27,27,1) 15%, rgba(27,27,27,0.10546225326067926) 100%), url('/resources/images/images/gallery/room-9-360x222.jpg');
            img {
                position: absolute;
                width: 40px;
                height: 40px;
                bottom: 0px;
                border-radius: 50%;
                border-width: 2px;
                border-style: solid white;
            }
            p{
                position: absolute;
                bottom: 10px;
                left: 45px;
            }
            
        }
        
        .article__content {
            background-color: $darkest-background;
            height: 300px;
            max-width: 400px;
            position: relative;
            p{
                font-size: 12px;
                opacity: 30%;
                padding-left: 20px;
                padding-bottom: 15px;
            }
            .article__content-title{
                font-size: 20px;
                font-weight: 700;
                padding-left: 20px;
                padding-bottom: 15px;
            }
            .content__small--title {
                padding: 15px 0 40px 20px;
                margin-left: 0px;
                font-weight: 500;
                font-size: 12px;
                letter-spacing: 2px;
                opacity: 30%;
                &::after {
                    content: '';
                    position: absolute;
                    top: 50px;
                    left: 5px;
                    width: 35px;
                    height: 4px;
                    background-color: white;
                    opacity: 100%;
                    border-radius: 30px;
                    z-index:20;
                }
            }
        }
    }
}
}


// SECTION : WHO CAN PLAY
.whocanplay_container{
    background-color: $dark-background ;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
    background-image: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(34,34,34,0.1782913849133403) 100%), url('../images/images/gallery/room-7-360x222.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    height: 700px;

    h2 {
        color: white;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 5px;
        align-self: center;
        padding-left: 80px;
        padding-top: 180px;
        padding-right: 60px;
        transform: rotate(270deg);
        opacity: 30%;
        &::before{
            position: absolute;
            content: '';
            height: 1px;
            width: 150px;
            background-color: white;
            opacity: 30%;
            left: -80px;
            top: 190px;
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 150px;
        li{
            line-height: 90px;
            color:white;
            i{
                color: $red;
                font-size: 30px;
                padding-right: 20px;
            }
        }
    }


    .read--more {
        font-weight: 600;
        color: rgb(171,25,27);
        text-align: center;
        font-size: 14px;
    }

    .gallery__picture {
        width: 85%;
        margin: 0 auto;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .btn {
        font-size: 15px;
        font-weight: 700;
        display: block;
        width: 150px;
        text-align: center;
        margin: 0 auto;
        padding: 22px 35px;
        border-radius: 40px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        text-decoration: none;
        color: white;
        transition: 0.1s linear;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2); 
        }

    }
}

    .form  {
        display: flex;
        background-color: $dark-background ;
        color: white;
        font-family: 'Montserrat', sans-serif;

        .contact__map {
            width: 50%;
            height: 800px;
        }

        .info__form {
            width: 30%;
            display: flex;
            flex-direction: column;
            margin-left: 80px;
    
            .form__data {
    
                .input--data {
                    display: flex;
                    flex-direction: column;
                }
            }
    
            h2 {
                padding-top: 125px;
                margin-bottom: 95px;
                font-size: 47px;
                font-weight: 700;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 70px;
                    left: 18px;
                    transform: translateX(-50%);
                    width: 37px;
                    height: 5px;
                    background-color: gray;
                    border-radius: 20px;
                    opacity: 20%;
        
                    
                }
            }
    
            label {
                opacity: 30%;
                font-size: 16px;
                font-weight: 500;
            }
    
            input {
                border: none;
                width: 500px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                margin-bottom: 60px;
                background-color: $dark-background ;
                color: white;
                
            }
    
            :focus {
                outline: none;
            }
            textarea {
                height: 100px;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                margin-bottom: 60px;
                color: white;
                background-color: $dark-background ;
                width: 500px;
            }

            .btn {
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                border: 2px solid rgba(255, 255, 255, 0.2);
                text-decoration: none;
                color: white;
                padding: 20px 0;
                border-radius: 50px;
                // margin-right: 350px ;
                width: 210px;
            }
    }
}
    
    .ready {

        background-color: white;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 130px;

        h1 {
            text-align: center;
            color: black;
            font-size: 47px;
            font-weight: 700;
            padding-top: 180px;
            margin-bottom: 40px;
            position: relative;
    
            &::after {
                content: '';
                position: absolute;
                top: 130px;
                left: 50%;
                transform: translateX(-50%);
                width: 37px;
                height: 5px;
                background-color: gray;
                border-radius: 20px;
    
                
            }
        }

        .ready__subtitle {
            font-weight: 600;
            color: black; 
            opacity: 25%;
            text-align: center;
            font-size: 14px;
        }

        .btn {
            font-size: 15px;
            font-weight: 700;
            background-color: #F60C0F;
            text-align: center;
            text-decoration: none;
            color: white;
            padding: 25px 40px;
            border-radius: 50px;
            margin-top: 80px;
        }
        
    }

// SMALL SCREEN
@media screen and (max-width: 768px){
    header{
        .dot{
            visibility: hidden;
        }
    }
    .slideshow-container{
        max-width: 768px;
        height: 380px;
        h1{
            width: 300px;
            font-size: 35px;
            font-weight: 700;
        }
        h2{
            width: 300px;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 70px;
            text-align: center;
        }
    }
    .features_rooms-container{
        max-width: 768px;
        display: flex;
        
        .features_rooms-article{
            max-width: 80vw;
            width: 80vw;
            .features_rooms-img{
                max-width: 80vw;
                width: 80vw;
            }
            .features_rooms-title{
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        
    }
    .blog__articles{
        .articles__container {
            .articles__thumbnail{
                img {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    .testimonials_container{

        h1 {
            font-size: 32px;
            padding-top: 80px !important;   

            &::after {
                top: 40px;
            }
        }

        .caroussel__card {
            margin-bottom: 20px !important;
        }

        .caroussel__card:nth-child(2) {
            display: none;
        }
        .arrow {
            display: none;
        }
    

        .btn {
            display: none;
        }
        
    }

    .form {
        flex-direction: column;
        width: 100%;
        padding-bottom: 40px;

        .contact__map {
            width: 100%;
            height: 800px;
        }

        h2 {
            padding-top: 100px !important;
            font-size: 32px !important;

            &::after {
                top: 40px !important;
            }
        }

        .info__form {
            width: 90%;
            margin-left: 40px !important;

            input {
                width: 90% !important;
            }

            textarea {
                width: 90% !important;
            }
        }
    }

    .gallery {
        padding-bottom: 40px !important;
    
        h1 {
            font-size: 32px;
            padding-top: 80px;
            margin-bottom: 25px !important;

            &:after {
                top: 30px;
            }
        }

        .gallery__picture {
                margin-top: 70px !important;
        }
    }

    .ready {
        margin-bottom: 40px !important;
        
        h1 {
            padding-top: 80px;
            font-size: 25px !important;

            &::after {
                top: 30px;
            }
        }

    }
}

// MEDIUM SCREEN
@media screen and (min-width: 768px) and (max-width: 1250px){
    .slideshow-container{
        height: 600px;
        max-width: 1920px;
        
        h1{
            @include slides-titles();
            width: 400px;
            font-size: 60px;
            font-weight: 700;
        }
        h2{
            @include slides-titles();
            width: 300px;
            font-size: 20px;
            font-weight: 150;
            margin-top: 100px;
            letter-spacing: 2px;
            &::before{
                position: absolute;
                content: '';
                height: 1px;
                width: 70px;
                background-color: white;
                left: -20px;
                top: 12px;
            }
        }
        
    }
    .features_rooms-container{
        max-width: 1250px;
        display: flex;
        padding-bottom: 30px;
        
        .features_rooms-article{
            max-width: 800px;
            width: 70vw;
            .features_rooms-img{
                max-width: 800px;
                width: 70vw;

            }
            .features_rooms-title{
                font-size: 20px;
                margin-bottom: 120px;
            }
        }
        
    
        .btn {
            display: none;
        }
        
    }

    .form {

        h2 {
            font-size: 32px !important;
        }

        .info__form {
            width: 50% !important;
            margin-left: 40px !important;

            input {
                width: 90% !important;
            }

            textarea {
                width: 90% !important;
            }
        }
    }

    .gallery {
        padding-bottom: 80px !important;
    
        h1 {
            font-size: 32px;
            padding-top: 100px;
            margin-bottom: 50px !important;

            &:after {
                top: 50px;
            }
        }
    }

    .ready {
        margin-bottom: 50px !important;

        h1 {
            padding-top: 100px;
            font-size: 32px !important;

            &::after {
                top: 50px;
            }
        }

    }

}

// MEDIUM SCREEN 2
@media screen and (min-width: 1250px) and (max-width: 1600px){
    header{
        .dot{
            visibility: hidden;
        }
    }
    .slideshow-container{
        height: 600px;
        max-width: 1920px;
        
        h1{
            @include slides-titles();
            width: 600px;
            font-size: 90px;
            font-weight: 700;
        }
        h2{
            @include slides-titles();
            width: 400px;
            font-size: 40px;
            font-weight: 150;
            margin-top: 150px;
            letter-spacing: 2px;
            &::before{
                position: absolute;
                content: '';
                height: 1px;
                width: 70px;
                background-color: white;
                left: -50px;
                top: 20px;
            }
        }
        
    }

    .features_rooms-article {
        position: relative;
        margin-bottom: 250px !important;
        margin-left: 370px;

        .left {
            margin-left: -675px !important;
        }
    

        .features_rooms-description {
            position: absolute;
            left: -400px;
            top: -50px;
            height: 500px;
            width: 420px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

            .features_rooms-difficulty {
                margin-left: 20px;

                li {
                    font-size: 15px !important;
                }
                
            }

            .features_rooms-texts {
                font-size: 32px;
                margin-top: 35px !important;
                margin-left: 15px;
                margin-right: 20px !important;
            }

            .features_rooms-characteristics {
                
                li {
                    font-size: 13px !important;
                    font-weight: 600;
                    margin-top: 20px;
                    margin-bottom: 50px;

                    i  {
                        font-size: 14px !important;
                    }
                }
            }
            p {
                font-size: 15px !important;
                font-weight: 600;
                line-height: 1.5;
                margin-bottom: 30px;
            }

            button {
                font-size: 13px !important;
                font-weight: 700 !important;
                width: 140px !important;
                height: 50px !important;
                border-radius: 50px !important;
            }
        }

        .right {
            left: -140px !important;
        }
    

    }
}

// LARGE SCREEN
@media screen and (min-width: 1600px){
    .slideshow-container{
        height: 900px;
        width: 100%;
        z-index: -1;
        
        h1{
            @include slides-titles();
            width: 800px;
            font-size: 120px;
            font-weight: 700;
            text-align: justify;
            left:25%; 
        }
        h2{
            @include slides-titles();
            width: 400px;
            font-size: 30px;
            font-weight: 150;
            margin-top: 250px;
            text-align: justify;
            left : 25%;
            letter-spacing: 2px;

            &::before{
                position: absolute;
                content: '';
                height: 1px;
                width: 120px;
                background-color: white;
                left: -180px;
                top: 20px;
            }
        }
    }
    header{
        position: relative;
        .mySlides_dots{
            .dot{
                position: absolute;
                width: 60px;
                height: 2px;
                border-style: unset;
                background-color: $global-font-color;
                border-radius: 10%;
                z-index: 120;
                top: 450px;
                right: 150px;
                // TRAVAILLER LA DESSUS 
            }
            .dot:nth-child(1){
                margin-top: 40px;
            }
            .dot:nth-child(2){
                margin-top: 60px;
            }
            .dot:nth-child(3){
                margin-top: 80px;
            }
            .dot:nth-child(4){
                margin-top: 100px;
            }
            .active, .dot:hover {
                background-color: $white-background;
                width: 100px;
            }
        }
    }
    .features_rooms-container{
        .features_rooms-title{
            font-size: 40px;
        }
        font-size: 120%;
    }
    .Howitworks_container{
        h2{
            font-size: 40px;
        }
        ul{    
            margin-top: 100px;
            margin-bottom: 100px;
            font-size:130%;
            li{
                margin-left: 150px;
                margin-right: 150px;
            }
        }
    }
    .testimonials_container{
        h1{
            font-size: 40px;
        }
    }
    .blogposts_container{
        .container-h2{
            font-size: 40px;
        }
    }
    
}