@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: rgba(34, 34, 34, 0.3137254902);
  transition: 0.3s ease-in;
}

nav .nav--left {
  display: flex;
  align-items: center;
}

nav .nav--left img {
  width: 190px;
  margin-right: 30px;
}

nav .nav--left li {
  display: inline-block;
  padding: 20px 10px;
  position: relative;
  opacity: 50%;
  transition: 0.3s;
  cursor: pointer;
}

nav .nav--left li:hover {
  opacity: 100%;
}

nav .nav--left li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 0;
  z-index: -10;
  opacity: 1;
  background-color: red;
  transform: translate(-50%, -50%) rotate(-50deg);
  transition: 0.2s;
}

nav .nav--left li:hover::after {
  width: 40px;
}

nav .nav--left li a {
  color: white;
  text-decoration: none;
}

nav .fa-bars {
  opacity: 0;
  background-color: transparent;
}

nav .fa-xmark {
  opacity: 0;
}

nav .btn {
  font-size: 11px;
  font-weight: 800;
  line-height: 50%;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 30px;
  padding: 15px 30px;
  border-radius: 20px;
  transition: 0.1s ease-in;
}

nav .btn:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 880px) {
  nav {
    z-index: 1;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #242424;
    transition: 0.5s;
    z-index: 10;
  }
  nav ul li {
    padding-left: 30px !important;
    line-height: normal;
    display: block;
    font-size: 12px;
    opacity: 100% !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  nav ul li::after {
    display: none;
  }
  nav ul li a {
    text-transform: capitalize;
  }
  nav .fa-bars {
    opacity: 1;
    font-size: 20px;
    margin-right: 30px;
    color: white;
    cursor: pointer;
  }
  nav .fa-xmark {
    position: absolute;
    top: 24px;
    right: 1px;
    opacity: 1;
    font-size: 25px;
    z-index: 20;
    margin-right: 30px;
    color: white;
    cursor: pointer;
  }
  nav .btn {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  nav {
    width: 1920px;
  }
}
footer {
  display: grid;
  flex-direction: column;
  background-color: black;
  color: #5e6167;
  width: 84vw;
  /*justify-content: space-around;*/
  padding-top: 23%;
  margin-top: 488px;
  height: 300px;
  /*align-content: space-around;*/
  position: relative;
}

footer::after {
  background-image: url("/resources/images/images/gallery/room-7-360x222.jpg");
  background-size: cover;
  background-position-y: center;
  opacity: 0.2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

footer h1 {
  color: white;
  line-height: 550%;
  font-weight: bold;
  font-size: 150%;
}

.information {
  display: grid;
  flex-wrap: wrap;
  width: 84vw;
  justify-content: center;
  margin: auto;
  padding: 0%;
}

.our_address {
  display: grid;
  flex-direction: column;
  justify-content: center;
  width: 145px;
}

.useful_links {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.useful_links a {
  text-decoration: none;
  color: #5e6167;
}

.working_hours {
  box-sizing: content-box;
  justify-content: center;
}

.open {
  display: flex;
}

.social_links {
  flex-direction: column;
  box-sizing: content-box;
  justify-items: center;
}

.escapium_end {
  justify-content: center;
}

.img_escapium {
  width: 50%;
  height: 50%;
}

main {
  max-width: 1920px;
  margin: auto;
}

.header--about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/resources/images/images/gallery/slide-1.jpg");
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: top;
  height: 520px;
  font-family: "Montserrat", sans-serif;
}

.header--about h1 {
  color: white;
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header--about h1::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 101%;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
}

.header--about .subTitle {
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  top: 355px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.header--about .subTitle a {
  margin-right: 15px;
  opacity: 100%;
  text-decoration: none;
  color: white;
  position: relative;
}

.header--about .subTitle a::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 120%;
  height: 1px;
  width: 13px;
  background-color: white;
  opacity: 50%;
}

.header--about .subTitle p {
  opacity: 50%;
  color: white;
  margin-left: 15px;
}

.play {
  background-color: #1B1B1B;
  color: white;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play h1 {
  text-align: center;
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 110px;
  padding-top: 160px;
  position: relative;
}

.play h1::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}

.play .card {
  display: flex;
  justify-content: center;
}

.play .card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 335px;
  margin: 0 40px;
  margin-bottom: 160px;
}

.play .card__item i {
  font-size: 45px;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 120px;
  background-color: #1B1B1B;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.play .card__item i::after {
  content: "";
  height: 2px;
  z-index: -99;
  opacity: 20%;
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  background-color: white;
}

.play .card__item h2 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}

.play .card__item p {
  text-align: center;
  font-size: 15px;
  opacity: 30%;
  line-height: 1.8;
  font-weight: 500;
}

.parallax {
  background-image: url("/resources/images/images/gallery/video-placeholder.jpg");
  min-height: 550px;
  background-size: 130%;
  background-position-x: center;
  background-repeat: no-repeat;
  position: relative;
}

.parallax .play {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  border-radius: 50%;
  background-color: rgb(246, 12, 15);
  box-shadow: 0 0 0 white;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
  }
}
.parallax .play i {
  margin-left: 6px;
}

.certificate {
  background-color: #1B1B1B;
  padding-bottom: 170px;
}

.certificate h1 {
  font-size: 47px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 180px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.certificate h1::after {
  content: "";
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}

.certificate .img {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.certificate .img img {
  margin: 0 15px;
}

.Our--team {
  background-color: #222222;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 200px;
}

.Our--team h1 {
  text-align: center;
  color: white;
  font-size: 47px;
  font-weight: 700;
  padding-top: 180px;
  margin-bottom: 80px;
  position: relative;
}

.Our--team h1::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}

.Our--team .team {
  display: flex;
  justify-content: center;
}

.Our--team .team .team__card {
  margin: 0 17px;
}

.Our--team .team .team__card img {
  opacity: 50%;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.Our--team .team .team__card img:hover {
  opacity: 100%;
  outline: 10px solid red;
  outline-offset: -10px;
}

.Our--team .team .team__card h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 20px;
}

.Our--team .team .team__card p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  margin-left: 20px;
}

.comment {
  background-color: #1B1B1B;
  font-family: "Montserrat", sans-serif;
}

.comment h1 {
  text-align: center;
  color: white;
  font-size: 47px;
  font-weight: 700;
  padding-top: 180px;
  margin-bottom: 40px;
  position: relative;
}

.comment h1::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}

.comment .read--more {
  font-weight: 600;
  color: rgb(171, 25, 27);
  text-align: center;
  font-size: 14px;
}

.comment .caroussel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment .caroussel .caroussel__card {
  width: 450px;
  text-align: center;
  margin: 120px 70px 40px;
}

.comment .caroussel .caroussel__card p {
  font-weight: 500;
  font-size: 16px;
  color: white;
  line-height: 2;
  opacity: 40%;
  margin-bottom: 50px;
}

.comment .caroussel .caroussel__card .customer--name {
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.comment .arrow {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.comment .arrow::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%) rotate(-60deg);
  height: 2px;
  width: 120px;
  opacity: 30%;
  background-color: white;
}

.comment .arrow i {
  font-size: 30px;
  margin: 0 60px 180px;
  transition: 0.1s linear;
  cursor: pointer;
}

.comment .arrow i:hover {
  color: rgb(171, 25, 27);
}

.faq {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
}

.faq h1 {
  text-align: center;
  color: black;
  font-size: 47px;
  font-weight: 700;
  padding-top: 180px;
  margin-bottom: 40px;
  position: relative;
}

.faq h1::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: gray;
  border-radius: 20px;
}

.faq .faq__subtitle {
  font-weight: 600;
  color: black;
  opacity: 25%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
}

.faq .faq__questions {
  margin-top: 60px;
  width: 800px;
}

.faq .faq__questions .question {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.faq .faq__questions .question i {
  font-size: 35px;
  margin-right: 30px;
  background-color: rgba(128, 128, 128, 0.2);
  opacity: 40%;
  padding: 23px;
  border-radius: 50%;
}

.faq .faq__questions .question h2 {
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.1s linear;
}

.faq .faq__questions .question h2:hover {
  color: rgb(171, 25, 27);
}

@media screen and (max-width: 1250px) {
  .play h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .play h1::after {
    top: 40px;
  }
  .play .card {
    margin-bottom: 60px;
  }
  .play .card h1 {
    padding-top: 40px !important;
    font-size: 32px;
  }
  .play .card__item {
    margin: 0 10px !important;
    width: 30%;
  }
  .play .card__item h2 {
    font-size: 19px;
  }
  .play .card__item p {
    font-size: 13px;
  }
  .parallax {
    background-size: cover;
  }
  .certificate h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .certificate h1::after {
    top: 40px;
  }
  .certificate img {
    width: 22%;
  }
  .Our--team h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .Our--team h1::after {
    top: 40px;
  }
  .Our--team .team .team__card img {
    width: 100%;
  }
  .Our--team .team .team__card h2 {
    font-size: 20px !important;
  }
  .Our--team .caroussel__card {
    margin: 120px 40px 40px !important;
  }
  .comment h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .comment h1::after {
    top: 40px;
  }
  .faq h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .faq h1::after {
    top: 40px;
  }
  .faq .faq__questions {
    width: 500px !important;
  }
  .faq h2 {
    font-size: 18px !important;
  }
  .faq i {
    font-size: 25px !important;
    padding: 16px !important;
  }
}
@media screen and (max-width: 766px) {
  .header--about {
    height: 300px;
  }
  .header--about h1 {
    font-size: 32px;
    top: 150px;
  }
  .header--about h1::after {
    height: 5px;
    width: 5px;
    top: 65%;
    left: 102%;
  }
  .header--about .subTitle {
    top: 200px;
  }
  .play h1 {
    padding-top: 60px !important;
    font-size: 32px;
  }
  .play h1::after {
    top: 30px;
  }
  .play .card {
    flex-direction: column;
    align-items: center;
  }
  .play .card__item {
    width: 90%;
    margin-bottom: 70px !important;
  }
  .play .card__item h2 {
    margin-top: 30px !important;
  }
  .certificate {
    padding-bottom: 70px !important;
  }
  .certificate h1 {
    padding-top: 80px;
    font-size: 32px;
  }
  .certificate h1::after {
    top: 40px;
  }
  .certificate .img {
    flex-direction: column;
  }
  .certificate .img img {
    width: 60%;
    margin: 20px auto;
  }
  .Our--team {
    padding-bottom: 0px !important;
  }
  .Our--team h1 {
    padding-top: 80px;
    font-size: 32px;
  }
  .Our--team h1::after {
    top: 40px;
  }
  .Our--team .team {
    flex-direction: column;
    align-items: center;
  }
  .Our--team .team .team__card {
    width: 80% !important;
    margin-bottom: 70px;
  }
  .Our--team .team .team__card img {
    width: 100% !important;
  }
  .Our--team .team .team__card h2 {
    font-size: 25px !important;
    text-align: center;
  }
  .Our--team .team .team__card p {
    text-align: center;
  }
  .comment h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .comment h1::after {
    top: 40px;
  }
  .comment .caroussel__card {
    margin-bottom: 20px !important;
  }
  .comment .caroussel__card:nth-child(2) {
    display: none;
  }
  .comment .arrow {
    display: none;
  }
  .faq {
    margin-bottom: 60px;
  }
  .faq .faq__questions {
    width: 95% !important;
  }
  .faq h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .faq h1::after {
    top: 40px;
  }
  .faq h2 {
    font-size: 14px !important;
  }
  .faq p {
    font-size: 12px !important;
    margin: 0 10px;
  }
}
<<<<<<< HEAD
.slideshow-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}
.slideshow-container .mySlides {
  display: none;
}
.slideshow-container .slide-bg-img1 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(28, 28, 28) 100%), url("../images/images/gallery/slide-4.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.slideshow-container .slide-bg-img2 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(28, 28, 28) 100%), url("../images/images/gallery/gallery/slide-1.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.slideshow-container .slide-bg-img3 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(28, 28, 28) 100%), url("../images/images/gallery/slide-2-557x400.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.slideshow-container .slide-bg-img4 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(28, 28, 28) 100%), url("../images/images/gallery/room-7-360x222.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.slideshow-container h1 {
  position: absolute;
  color: white;
  font-family: Montserrat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.slideshow-container h2 {
  position: absolute;
  color: white;
  font-family: Montserrat;
  top: 50%;
  left: 50%;
  margin-top: 70px;
  transform: translate(-50%, -50%);
}
.slideshow-container .slide-line {
  visibility: none;
}

@media screen and (max-width: 768px) {
  .slideshow-container {
    max-width: 768px;
    height: 380px;
  }
  .slideshow-container h1 {
    width: 300px;
    font-size: 35px;
    font-weight: 700;
  }
  .slideshow-container h2 {
    width: 300px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 70px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1250px) {
  .slideshow-container {
    height: 600px;
    max-width: 1920px;
  }
  .slideshow-container h1 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 400px;
    font-size: 60px;
    font-weight: 700;
  }
  .slideshow-container h2 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 300px;
    font-size: 20px;
    font-weight: 150;
    margin-top: 100px;
    letter-spacing: 2px;
  }
  .slideshow-container h2::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 70px;
    background-color: white;
    left: -20px;
    top: 12px;
  }
}
@media screen and (min-width: 1250px) and (max-width: 1920px) {
  .slideshow-container {
    height: 600px;
    max-width: 1920px;
  }
  .slideshow-container h1 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 600px;
    font-size: 90px;
    font-weight: 700;
  }
  .slideshow-container h2 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 400px;
    font-size: 40px;
    font-weight: 150;
    margin-top: 150px;
    letter-spacing: 2px;
  }
  .slideshow-container h2::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 70px;
    background-color: white;
    left: -50px;
    top: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .slideshow-container {
    height: 900px;
    width: 100%;
    z-index: -1;
  }
  .slideshow-container h1 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 800px;
    font-size: 120px;
    font-weight: 700;
    text-align: justify;
    left: 25%;
  }
  .slideshow-container h2 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 400px;
    font-size: 30px;
    font-weight: 150;
    margin-top: 250px;
    text-align: justify;
    left: 25%;
    letter-spacing: 2px;
  }
  .slideshow-container h2::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 120px;
    background-color: white;
    left: -180px;
    top: 20px;
  }
  .slideshow-container .mySlides_dots {
    position: relative;
  }
  .slideshow-container .mySlides_dots .dots {
    display: flex;
    position: absolute;
    width: 150px;
    height: 2px;
    border-style: unset;
    z-index: 50;
    top: 30;
  }
}
=======
>>>>>>> d81a60e41c85661e56a1ab166344ec315c2247d8
main {
  max-width: 1920px;
  margin: 0 auto;
}

.header--contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/resources/images/images/gallery/slide-1.jpg");
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: top;
  height: 520px;
  font-family: "Montserrat", sans-serif;
}

.header--contact h1 {
  color: white;
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header--contact h1::after {
  content: "";
  position: absolute;
  top: 53px;
  left: 100%;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
}

.header--contact .subTitle {
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  top: 355px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.header--contact .subTitle a {
  margin-right: 15px;
  opacity: 100%;
  text-decoration: none;
  color: white;
  position: relative;
}

.header--contact .subTitle a::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 120%;
  height: 1px;
  width: 13px;
  background-color: white;
  opacity: 50%;
}

.header--contact .subTitle p {
  opacity: 50%;
  color: white;
  margin-left: 15px;
}

.info {
  display: flex;
  justify-content: center;
  background-color: #1B1B1B;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.info .info__coordinate {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.info .info__coordinate .coordinate__info {
  display: flex;
  align-items: center;
  margin: 20px 0;
  margin-left: 20px;
}

.info .info__coordinate .coordinate__info p {
  margin-left: 35px;
}

.info .info__coordinate .coordinate__info .coordinate__mail {
  opacity: 100%;
}

.info .info__coordinate .coordinate__info i {
  font-size: 25px;
}

.info .info__coordinate .info__subtitle {
  font-size: 15px;
  opacity: 30%;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 50px;
}

.info .info__coordinate h2 {
  padding-top: 140px;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 600;
}

.info .info__coordinate p {
  font-size: 14px;
  opacity: 30%;
  font-weight: 500;
  margin-bottom: 5px;
}

.info .info__form {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 120px;
}

.info .info__form .form__data {
  display: flex;
}

.info .info__form .form__data .input--data {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.info .info__form h2 {
  padding-top: 140px;
  margin-bottom: 70px;
  font-size: 35px;
  font-weight: 600;
}

.info .info__form label {
  margin-bottom: 5px;
  opacity: 30%;
  font-size: 16px;
  font-weight: 500;
}

.info .info__form input {
  width: 90%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 60px;
  background-color: #1B1B1B;
  color: white;
}

.info .info__form :focus {
  outline: none;
}

.info .info__form textarea {
  height: 200px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 60px;
  color: white;
}

.info .info__form .btn {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  background-color: #F60C0F;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 25px 0;
  border-radius: 50px;
  margin-bottom: 150px;
}

.contact__map {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 1250px) {
  .info {
    justify-content: space-between;
  }
  .info .info__coordinate {
    width: 20% !important;
    margin-left: 20px;
  }
  .info .info__coordinate h2 {
    font-size: 32px;
  }
  .info .info__form {
    width: 70%;
    margin-right: 20px;
    margin-left: 80px !important;
  }
  .info .info__form h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .header--contact {
    height: 300px;
  }
  .header--contact h1 {
    font-size: 32px;
    top: 150px;
  }
  .header--contact h1::after {
    height: 5px;
    width: 5px;
    top: 65%;
    left: 102%;
  }
  .header--contact .subTitle {
    top: 200px;
  }
  .info {
    flex-direction: column;
    align-items: center;
  }
  .info .info__coordinate {
    width: 90% !important;
    margin-left: 20px;
  }
  .info .info__coordinate h2 {
    padding-top: 50px !important;
    font-size: 32px !important;
  }
  .info .info__form {
    width: 90%;
    margin-left: 20px !important;
  }
  .info .info__form .form__data {
    flex-direction: column;
  }
  .info .info__form h2 {
    padding-top: 50px !important;
    font-size: 32px !important;
  }
  .info .info__form .btn {
    margin-bottom: 50px !important;
  }
<<<<<<< HEAD
=======
}
.blog {
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.blog .blog__articles {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.blog .blog__articles .buttons {
  display: flex;
  margin: 100px 0;
  justify-content: center;
  align-items: center;
}

.blog .blog__articles .buttons p {
  color: white;
  margin: 0 20px;
}

.blog .blog__articles .buttons a {
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin: 0 5px;
  height: 50px;
  text-align: center;
  line-height: 3.8;
  width: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  font-weight: 600;
  transition: 0.1s linear;
}

.blog .blog__articles .buttons a:hover {
  background-color: #F50C10;
}

.blog .blog__articles .buttons .active {
  background-color: #F50C10;
}

.blog .articles__container {
  margin-top: 150px;
  width: 800px;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.blog .articles__container img {
  width: 100%;
  height: 450px;
  margin-bottom: 400px;
}

.blog .articles__container .article__content {
  background-color: #222222;
  height: 520px;
  position: absolute;
  top: 370px;
  right: -50px;
  left: 50px;
  box-shadow: 0 0 30px black;
}

.blog .articles__container .article__content .content__small--title {
  padding: 55px 0 75px 70px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 30%;
}

.blog .articles__container .article__content .content__small--title:after {
  content: "";
  position: absolute;
  top: 95px;
  left: 50px;
  width: 35px;
  height: 4px;
  background-color: white;
  opacity: 10%;
  border-radius: 30px;
}

.blog .articles__container .article__content h2 {
  font-size: 32px;
  font-weight: 700;
  margin-left: 70px;
  margin-bottom: 15px;
}

.blog .articles__container .article__content .content__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-left: 55px;
}

.blog .articles__container .article__content .content__info .info__element {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

.blog .articles__container .article__content .content__info .info__element p {
  font-size: 13px;
  margin-left: 10px;
  opacity: 30%;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.1s linear;
  cursor: pointer;
}

.blog .articles__container .article__content .content__info .info__element p:hover {
  color: red;
  opacity: 60%;
}

.blog .articles__container .article__content .content__description {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
  font-size: 16px;
  opacity: 30%;
  line-height: 1.8;
  font-weight: 500;
  overflow: hidden;
  max-height: 80px;
  overflow: hidden;
}

.blog .articles__container .article__content .btn {
  font-size: 15px;
  font-weight: 600;
  margin-left: 70px;
  padding: 15px 35px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration: none;
  color: white;
  transition: 0.1s linear;
}

.blog .articles__container .article__content .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.blog .aside {
  margin-left: 100px;
  margin-top: 150px;
  width: 380px;
  color: white;
}

.blog .aside .categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.blog .aside .categories h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
}

.blog .aside .categories h3::after {
  content: "";
  position: absolute;
  top: 50px;
  border-radius: 20px;
  left: -25px;
  height: 4px;
  width: 35px;
  background-color: white;
  opacity: 10%;
}

.blog .aside .categories a {
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
  opacity: 30%;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.1s linear;
  position: relative;
}

.blog .aside .categories a:hover {
  opacity: 100%;
}

.blog .aside .categories a:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(171, 25, 27);
  animation: movement 0.1s linear;
}

@keyframes movement {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translate(0px);
  }
}
.blog .aside .posts {
  margin-bottom: 100px;
}

.blog .aside .posts h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 100px;
  position: relative;
}

.blog .aside .posts h3::after {
  content: "";
  position: absolute;
  top: 50px;
  border-radius: 20px;
  left: -25px;
  height: 4px;
  width: 35px;
  background-color: white;
  opacity: 10%;
}

.blog .aside .posts .post__date {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  width: 330px;
}

.blog .aside .posts .post__date .date {
  font-size: 11px;
  margin-right: 70px;
  opacity: 30%;
  position: relative;
}

.blog .aside .posts .post__date .date:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 75px;
  height: 2px;
  width: 25px;
  border-radius: 20px;
  background-color: white;
  opacity: 20%;
}

.blog .aside .posts .post__date .name {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.blog .aside .posts .room3 {
  position: relative;
  z-index: 1;
  transition: 0.2s linear;
  cursor: pointer;
}

.blog .aside .posts .room3::after {
  content: "";
  position: absolute;
  top: -25px;
  left: -10px;
  width: 350px;
  height: 70px;
  opacity: 50%;
  background-image: url("/resources/images/images/gallery/room-3-557x400.jpg");
  z-index: -1;
  opacity: 0%;
}

.blog .aside .posts .room3::after:hover {
  opacity: 100%;
}

.blog .aside .tags {
  margin-bottom: 50px;
}

.blog .aside .tags h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
}

.blog .aside .tags h3::after {
  content: "";
  position: absolute;
  top: 50px;
  border-radius: 20px;
  left: -25px;
  height: 4px;
  width: 35px;
  background-color: white;
  opacity: 10%;
}

.blog .aside .tags .tags__links {
  display: flex;
  flex-wrap: wrap;
}

.blog .aside .tags .tags__links a {
  line-height: 1;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 10px 22px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin: 5px;
  border-radius: 20px;
  transition: 0.1s linear;
}

.blog .aside .tags .tags__links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.blog .aside .photo {
  margin-bottom: 80px;
}

.blog .aside .photo h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
}

.blog .aside .photo h3::after {
  content: "";
  position: absolute;
  top: 50px;
  border-radius: 20px;
  left: -25px;
  height: 4px;
  width: 35px;
  background-color: white;
  opacity: 10%;
}

.blog .aside .photo img {
  width: 100px;
  margin: 10px;
  cursor: pointer;
}

.blog .aside .archives h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 60px;
  position: relative;
}

.blog .aside .archives h3::after {
  content: "";
  position: absolute;
  top: 50px;
  border-radius: 20px;
  left: -25px;
  height: 4px;
  width: 35px;
  background-color: white;
  opacity: 10%;
}

.blog .aside .archives p {
  margin-bottom: 30px;
  text-transform: uppercase;
  opacity: 30%;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.1s linear;
  position: relative;
  cursor: pointer;
}

.blog .aside .archives p:hover {
  opacity: 100%;
}

.blog .aside .archives p:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(171, 25, 27);
  animation: movement 0.1s linear;
}

@keyframes movement {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translate(0px);
  }
}
@media screen and (max-width: 1250px) {
  .articles__container {
    width: 100% !important;
  }
  .articles__container img {
    margin-bottom: 0px !important;
    height: 350px !important;
  }
  .articles__container .article__content {
    position: initial !important;
    height: 550px !important;
  }
  .articles__container .article__content .content__small--title {
    padding-left: 40px !important;
  }
  .articles__container .article__content h2 {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
  .articles__container .article__content .content__info {
    margin-left: 25px !important;
    margin-right: 40px !important;
  }
  .articles__container .article__content .btn {
    margin-left: 40px !important;
  }
  .articles__container .info__element p {
    font-size: 11px !important;
  }
  .articles__container .content__description {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
  .aside {
    margin-right: 20px;
    width: 100% !important;
    margin-left: 50px !important;
  }
  .aside .post__date {
    width: 100% !important;
  }
  .aside .photo {
    margin-bottom: 80px;
  }
  .aside img {
    width: 100px;
    margin: 2px !important;
  }
}
@media screen and (max-width: 768px) {
  .blog {
    flex-direction: column;
  }
  .blog .blog__articles {
    margin-bottom: 0px !important;
    align-items: center;
    margin-left: 0px !important;
  }
  .blog .blog__articles .articles__container {
    width: 90% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 60px !important;
  }
  .blog .blog__articles .articles__container h2 {
    font-size: 25px !important;
    line-height: 1.4;
  }
  .blog .blog__articles .articles__container img {
    height: 260px !important;
  }
  .blog .aside {
    margin-top: 0px !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
  .blog .aside .categories {
    margin-top: 40px;
  }
  .blog .aside h3::after {
    left: 0 !important;
  }
  .blog .aside .post__date .name {
    font-size: 13px !important;
  }
>>>>>>> d81a60e41c85661e56a1ab166344ec315c2247d8
}
.slideshow-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

.slideshow-container .mySlides {
  display: none;
}

.slideshow-container .slide-bg-img1 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(28, 28, 28) 100%), url("../images/images/gallery/slide-4.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.slideshow-container .slide-bg-img2 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(28, 28, 28) 100%), url("../images/images/gallery/gallery/slide-1.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.slideshow-container .slide-bg-img3 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(28, 28, 28) 100%), url("../images/images/gallery/slide-2-557x400.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.slideshow-container .slide-bg-img4 {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(28, 28, 28) 100%), url("../images/images/gallery/room-7-360x222.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.slideshow-container h1 {
  position: absolute;
  color: white;
  font-family: Montserrat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slideshow-container h2 {
  position: absolute;
  color: white;
  font-family: Montserrat;
  top: 50%;
  left: 50%;
  margin-top: 70px;
  transform: translate(-50%, -50%);
}

.features_rooms-container {
  position: relative;
  background-color: #1B1B1B;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.features_rooms-container::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 30px;
}

.features_rooms-container .features_rooms-title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 55px;
  margin-bottom: 200px;
}

.features_rooms-container .features_rooms-article {
  background-color: #222222;
  margin-bottom: 60px;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.51);
}

.features_rooms-container .features_rooms-article .features_rooms-description {
  background-color: #222222;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-difficulty {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-difficulty li {
  font-size: 10px;
  margin: 3px 3px 3px 3px;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-difficulty li .active {
  color: red;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-texts {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-texts h3 {
  font-weight: 700;
  line-height: 30px;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-texts .features_rooms-characteristics {
  display: flex;
  flex-direction: row;
  line-height: 30px;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-texts .features_rooms-characteristics li {
  font-size: 8px;
  margin-right: 10px;
  color: #777;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-texts .features_rooms-characteristics li i {
  margin-right: 10px;
  font-size: 10px;
  color: #fefefe;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-texts p {
  color: #777;
  font-size: 12px;
}

.features_rooms-container .features_rooms-article .features_rooms-description .features_rooms-texts button {
  color: #fefefe;
  background-color: #F60B0E;
  height: 35px;
  width: 120px;
  font-size: 12px;
  font-weight: 500;
  border-style: unset;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Howitworks_container {
  background-color: #222222;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  font-family: Montserrat;
}

.Howitworks_container::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 30px;
}

.Howitworks_container h2 {
  color: white;
  text-align: center;
}

.Howitworks_container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Howitworks_container ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fefefe;
}

@media screen and (max-width: 768px) {
  header .dot {
    visibility: hidden;
  }
  .slideshow-container {
    max-width: 768px;
    height: 380px;
  }
  .slideshow-container h1 {
    width: 300px;
    font-size: 35px;
    font-weight: 700;
  }
  .slideshow-container h2 {
    width: 300px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 70px;
    text-align: center;
  }
  .features_rooms-container {
    max-width: 768px;
    display: flex;
  }
  .features_rooms-container .features_rooms-article {
    max-width: 80vw;
    width: 80vw;
  }
  .features_rooms-container .features_rooms-article .features_rooms-img {
    max-width: 80vw;
    width: 80vw;
  }
  .features_rooms-container .features_rooms-article .features_rooms-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1250px) {
  .slideshow-container {
    height: 600px;
    max-width: 1920px;
  }
  .slideshow-container h1 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 400px;
    font-size: 60px;
    font-weight: 700;
  }
  .slideshow-container h2 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 300px;
    font-size: 20px;
    font-weight: 150;
    margin-top: 100px;
    letter-spacing: 2px;
  }
  .slideshow-container h2::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 70px;
    background-color: white;
    left: -20px;
    top: 12px;
  }
  .features_rooms-container {
    max-width: 1250px;
    display: flex;
  }
  .features_rooms-container .features_rooms-article {
    max-width: 800px;
    width: 70vw;
  }
  .features_rooms-container .features_rooms-article .features_rooms-img {
    max-width: 800px;
    width: 70vw;
  }
  .features_rooms-container .features_rooms-article .features_rooms-title {
    font-size: 20px;
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 1250px) and (max-width: 1920px) {
  header .dot {
    visibility: hidden;
  }
  .slideshow-container {
    height: 600px;
    max-width: 1920px;
  }
  .slideshow-container h1 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 600px;
    font-size: 90px;
    font-weight: 700;
  }
  .slideshow-container h2 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 400px;
    font-size: 40px;
    font-weight: 150;
    margin-top: 150px;
    letter-spacing: 2px;
  }
  .slideshow-container h2::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 70px;
    background-color: white;
    left: -50px;
    top: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .slideshow-container {
    height: 900px;
    width: 100%;
    z-index: -1;
  }
  .slideshow-container h1 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 800px;
    font-size: 120px;
    font-weight: 700;
    text-align: justify;
    left: 25%;
  }
  .slideshow-container h2 {
    position: absolute;
    color: white;
    font-family: Montserrat;
    width: 400px;
    font-size: 30px;
    font-weight: 150;
    margin-top: 250px;
    text-align: justify;
    left: 25%;
    letter-spacing: 2px;
  }
  .slideshow-container h2::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 120px;
    background-color: white;
    left: -180px;
    top: 20px;
  }
  header {
    position: relative;
  }
  header .mySlides_dots .dot {
    position: absolute;
    width: 60px;
    height: 2px;
    border-style: unset;
    background-color: #717171;
    border-radius: 10%;
    z-index: 120;
    top: 450px;
    right: 150px;
  }
  header .mySlides_dots .dot:nth-child(1) {
    margin-top: 40px;
  }
  header .mySlides_dots .dot:nth-child(2) {
    margin-top: 60px;
  }
  header .mySlides_dots .dot:nth-child(3) {
    margin-top: 80px;
  }
  header .mySlides_dots .dot:nth-child(4) {
    margin-top: 100px;
  }
  header .mySlides_dots .active, header .mySlides_dots .dot:hover {
    background-color: #fefefe;
    width: 100px;
  }
}
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
