@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: rgba(34, 34, 34, 0.3137254902);
  transition: 0.3s ease-in;
}
nav .nav--left {
  display: flex;
  align-items: center;
}
nav .nav--left img {
  width: 190px;
  margin-right: 30px;
}
nav .nav--left li {
  display: inline-block;
  padding: 20px 10px;
  position: relative;
  opacity: 50%;
  transition: 0.3s;
  cursor: pointer;
}
nav .nav--left li:hover {
  opacity: 100%;
}
nav .nav--left li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 0;
  z-index: -10;
  opacity: 1;
  background-color: red;
  transform: translate(-50%, -50%) rotate(-50deg);
  transition: 0.2s;
}
nav .nav--left li:hover::after {
  width: 40px;
}
nav .nav--left li a {
  color: white;
  text-decoration: none;
}
nav .fa-bars {
  opacity: 0;
  background-color: transparent;
}
nav .fa-xmark {
  opacity: 0;
}
nav .btn {
  font-size: 11px;
  font-weight: 800;
  line-height: 50%;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 30px;
  padding: 15px 30px;
  border-radius: 20px;
  transition: 0.1s ease-in;
}
nav .btn:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 880px) {
  nav {
    position: initial;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #242424;
    transition: 0.5s;
    z-index: 10;
  }
  nav ul li {
    padding-left: 30px !important;
    line-height: normal;
    display: block;
    font-size: 12px;
    opacity: 100% !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  nav ul li::after {
    display: none;
  }
  nav ul li a {
    text-transform: capitalize;
  }
  nav .fa-bars {
    opacity: 1;
    font-size: 20px;
    margin-right: 30px;
    color: white;
    cursor: pointer;
  }
  nav .fa-xmark {
    position: absolute;
    top: 24px;
    right: 1px;
    opacity: 1;
    font-size: 25px;
    z-index: 20;
    margin-right: 30px;
    color: white;
    cursor: pointer;
  }
  nav .btn {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  color: black;
  /* background-image : url("/resources/images/images/gallery/room-7-360x222.jpg");*/
  background-size: cover;
  opacity: 1;
  align-items: center;
  width: 100vw;
  justify-content: center;
  height: 500px;
  padding-top: 23%;
  text-decoration: #5e6167;
}

.information {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.our_address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: #5e6167;
  width: 145px;
}

.escapium_end {
  justify-content: center;
  text-decoration: #5e6167;
}

.img_escapium {
  width: 50%;
  height: 50%;
}

main {
  max-width: 1920px;
  margin: auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/resources/images/images/gallery/slide-1.jpg");
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: top;
  height: 520px;
  font-family: "Montserrat", sans-serif;
}
header h1 {
  color: white;
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
}
header h1::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 101%;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
}
header .subTitle {
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  top: 355px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
header .subTitle a {
  margin-right: 15px;
  opacity: 100%;
  text-decoration: none;
  color: white;
  position: relative;
}
header .subTitle a::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 120%;
  height: 1px;
  width: 13px;
  background-color: white;
  opacity: 50%;
}
header .subTitle p {
  opacity: 50%;
  color: white;
  margin-left: 15px;
}

.play {
  background-color: #1B1B1B;
  color: white;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play h1 {
  text-align: center;
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 110px;
  padding-top: 160px;
  position: relative;
}
.play h1::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}
.play .card {
  display: flex;
  justify-content: center;
}
.play .card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 335px;
  margin: 0 40px;
  margin-bottom: 160px;
}
.play .card__item i {
  font-size: 45px;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 120px;
  background-color: #1B1B1B;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.play .card__item i::after {
  content: "";
  height: 2px;
  z-index: -2000;
  opacity: 20%;
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  background-color: white;
}
.play .card__item h2 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}
.play .card__item p {
  text-align: center;
  font-size: 15px;
  opacity: 30%;
  line-height: 1.8;
  font-weight: 500;
}

.parallax {
  background-image: url("/resources/images/images/gallery/video-placeholder.jpg");
  min-height: 550px;
  background-size: 130%;
  background-position-x: center;
  background-repeat: no-repeat;
  position: relative;
}
.parallax .play {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  border-radius: 50%;
  background-color: rgb(246, 12, 15);
  box-shadow: 0 0 0 white;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
  }
}
.parallax .play i {
  margin-left: 6px;
}

.certificate {
  background-color: #1B1B1B;
  padding-bottom: 170px;
}
.certificate h1 {
  font-size: 47px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 180px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.certificate h1::after {
  content: "";
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}
.certificate .img {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.certificate .img img {
  margin: 0 15px;
}

.Our--team {
  background-color: #222222;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 200px;
}
.Our--team h1 {
  text-align: center;
  color: white;
  font-size: 47px;
  font-weight: 700;
  padding-top: 180px;
  margin-bottom: 80px;
  position: relative;
}
.Our--team h1::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}
.Our--team .team {
  display: flex;
  justify-content: center;
}
.Our--team .team .team__card {
  margin: 0 17px;
}
.Our--team .team .team__card img {
  opacity: 50%;
  transition: 0.1s ease-in;
  cursor: pointer;
}
.Our--team .team .team__card img:hover {
  opacity: 100%;
  outline: 10px solid red;
  outline-offset: -10px;
}
.Our--team .team .team__card h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 20px;
}
.Our--team .team .team__card p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  margin-left: 20px;
}

.comment {
  background-color: #1B1B1B;
  font-family: "Montserrat", sans-serif;
}
.comment h1 {
  text-align: center;
  color: white;
  font-size: 47px;
  font-weight: 700;
  padding-top: 180px;
  margin-bottom: 40px;
  position: relative;
}
.comment h1::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}
.comment .read--more {
  font-weight: 600;
  color: rgb(171, 25, 27);
  text-align: center;
  font-size: 14px;
}
.comment .caroussel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment .caroussel .caroussel__card {
  width: 450px;
  text-align: center;
  margin: 120px 70px 40px;
}
.comment .caroussel .caroussel__card p {
  font-weight: 500;
  font-size: 16px;
  color: white;
  line-height: 2;
  opacity: 40%;
  margin-bottom: 50px;
}
.comment .caroussel .caroussel__card .customer--name {
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.comment .arrow {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}
.comment .arrow::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%) rotate(-60deg);
  height: 2px;
  width: 120px;
  opacity: 30%;
  background-color: white;
}
.comment .arrow i {
  font-size: 30px;
  margin: 0 60px 180px;
  transition: 0.1s linear;
  cursor: pointer;
}
.comment .arrow i:hover {
  color: rgb(171, 25, 27);
}

.faq {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
}
.faq h1 {
  text-align: center;
  color: black;
  font-size: 47px;
  font-weight: 700;
  padding-top: 180px;
  margin-bottom: 40px;
  position: relative;
}
.faq h1::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 5px;
  background-color: gray;
  border-radius: 20px;
}
.faq .faq__subtitle {
  font-weight: 600;
  color: black;
  opacity: 25%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
}
.faq .faq__questions {
  margin-top: 60px;
  width: 800px;
}
.faq .faq__questions .question {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.faq .faq__questions .question i {
  font-size: 35px;
  margin-right: 30px;
  background-color: rgba(128, 128, 128, 0.2);
  opacity: 40%;
  padding: 23px;
  border-radius: 50%;
}
.faq .faq__questions .question h2 {
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.1s linear;
}
.faq .faq__questions .question h2:hover {
  color: rgb(171, 25, 27);
}

@media screen and (max-width: 1250px) {
  .play h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .play h1::after {
    top: 40px;
  }
  .play .card {
    margin-bottom: 60px;
  }
  .play .card h1 {
    padding-top: 40px !important;
    font-size: 32px;
  }
  .play .card__item {
    margin: 0 10px !important;
    width: 30%;
  }
  .play .card__item h2 {
    font-size: 19px;
  }
  .play .card__item p {
    font-size: 13px;
  }
  .parallax {
    background-size: cover;
  }
  .certificate h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .certificate h1::after {
    top: 40px;
  }
  .certificate img {
    width: 22%;
  }
  .Our--team h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .Our--team h1::after {
    top: 40px;
  }
  .Our--team .team .team__card img {
    width: 100%;
  }
  .Our--team .team .team__card h2 {
    font-size: 20px !important;
  }
  .Our--team .caroussel__card {
    margin: 120px 40px 40px !important;
  }
  .comment h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .comment h1::after {
    top: 40px;
  }
  .faq h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .faq h1::after {
    top: 40px;
  }
  .faq .faq__questions {
    width: 500px !important;
  }
  .faq h2 {
    font-size: 18px !important;
  }
  .faq i {
    font-size: 25px !important;
    padding: 16px !important;
  }
}
@media screen and (max-width: 766px) {
  header {
    height: 300px;
  }
  header h1 {
    font-size: 32px;
    top: 150px;
  }
  header h1::after {
    height: 5px;
    width: 5px;
    top: 65%;
    left: 102%;
  }
  header .subTitle {
    top: 200px;
  }
  .play h1 {
    padding-top: 60px !important;
    font-size: 32px;
  }
  .play h1::after {
    top: 30px;
  }
  .play .card {
    flex-direction: column;
    align-items: center;
  }
  .play .card__item {
    width: 90%;
    margin-bottom: 70px !important;
  }
  .play .card__item h2 {
    margin-top: 30px !important;
  }
  .certificate {
    padding-bottom: 70px !important;
  }
  .certificate h1 {
    padding-top: 80px;
    font-size: 32px;
  }
  .certificate h1::after {
    top: 40px;
  }
  .certificate .img {
    flex-direction: column;
  }
  .certificate .img img {
    width: 60%;
    margin: 20px auto;
  }
  .Our--team {
    padding-bottom: 0px !important;
  }
  .Our--team h1 {
    padding-top: 80px;
    font-size: 32px;
  }
  .Our--team h1::after {
    top: 40px;
  }
  .Our--team .team {
    flex-direction: column;
    align-items: center;
  }
  .Our--team .team .team__card {
    width: 80% !important;
    margin-bottom: 70px;
  }
  .Our--team .team .team__card img {
    width: 100% !important;
  }
  .Our--team .team .team__card h2 {
    font-size: 25px !important;
    text-align: center;
  }
  .Our--team .team .team__card p {
    text-align: center;
  }
  .comment h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .comment h1::after {
    top: 40px;
  }
  .comment .caroussel__card {
    margin-bottom: 20px !important;
  }
  .comment .caroussel__card:nth-child(2) {
    display: none;
  }
  .comment .arrow {
    display: none;
  }
  .faq {
    margin-bottom: 60px;
  }
  .faq .faq__questions {
    width: 95% !important;
  }
  .faq h1 {
    font-size: 32px;
    padding-top: 80px !important;
  }
  .faq h1::after {
    top: 40px;
  }
  .faq h2 {
    font-size: 14px !important;
  }
  .faq p {
    font-size: 12px !important;
    margin: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .slideshow-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
  }
  .slideshow-container .mySlides {
    display: none;
  }
  .slideshow-container img {
    width: 100%;
    height: auto;
  }
  .slideshow-container h1 {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    color: white;
    font-family: Montserrat;
    font-size: 2.5em;
    font-weight: 700;
  }
  .slideshow-container h2 {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    color: white;
    font-family: Montserrat;
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

/*# sourceMappingURL=style.css.map */
