footer{
    font-family: Montserrat;
    font-weight: bolder;
    color: #717171;
    width: 100%;
    background-image : linear-gradient( 
    rgba(0, 0, 0, 0.678) 0%, rgba(0, 0, 0, 0.781) 100%), url("/resources/images/images/gallery/room-7-360x222.jpg") ;
    background-size: cover;
    background-position: center;
    display :flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
       
     h1{
        color:white;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 28px;
    }

    .numero_h1{
        margin: 30px 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 30px;
            background-color: #F60B0E;
            width: 30px;
            height: 2px;
    }
}

    .information{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: space-between;
        margin: 0 100px;
        // padding: 0;
        box-sizing: content-box;
        .our_address{
            max-width: 230px;
            p {
             line-height: 1.8;
             margin: 35px 0px ;
            }
            .email_footer{
                color: white;
            }
        }
        .useful_links{
            display: flex;
            flex-direction: column;
            max-width: 230px;
            box-sizing: content-box;
    
            a {
                text-decoration: none;
                color: #717171;
                margin-bottom: 30px;
            }
        }
        .working_hours{
            // display:flex;
            box-sizing: content-box;
            // justify-content: center;
            max-width: 230px;
            .open{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                max-width: 230px;
        
                p {
                    margin-right: 20px;
                }
            }
            .social_links{
                display: flex;
                flex-direction: column;
                // box-sizing: content-box;
                justify-items: center;
                max-width: 230px;
            }
        }
        
    }
    .escapium_end{
        display: flex;
        width: 100%;
        align-self: flex-end;
        // flex-direction: row;
        // align-items: center;
        margin-top: 75px;
        .img_escapium{
            width: 15%;
            height: 15%;
            margin-bottom: 30px;
        }
        .copyright_footer{
            margin-bottom: 85px;
        }
    }

}